numpy==1.26.4
tensorflow==2.19.0
scikeras
streamlit
scikit-learn==1.6.1
matplotlib==3.10.1
seaborn==0.13.2
Pillow==10.2.0
tqdm==4.67.1
torch==2.2.2
torchvision==0.17.2
facenet-pytorch==2.6.0
opencv-python==4.11.0.86
deepface==0.0.93
retina-face==0.0.17
mtcnn==1.0.0
requests==2.32.3
gdown==5.2.0